html,
body {
    height: 100%;
    background-color: #0B0C0C;
    color: white;
    margin: 20px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.dash-board {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
    gap: 2%;
    height: 100%;



}

.widget {
    display: flex;
    justify-content: center;
    width: 300;

    align-items: center;


    background-color: #191818;



}

.time-display {
    font-size: 10vw;
    text-align: center;

}